@page { 
    margin: 100px 0; 
}
body {
    font-family: sans-serif;
}
header { 
    position: fixed; 
    top: -90px; 
    width: 90%;
    padding: 10px 5% 10px;
    height: 100px;
    padding-bottom: 10px;
    text-align: center;
    
    img {
        width: 20%;
        margin: 0 40% 10px;
    }
    table {
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-collapse: collapse;
        border: none;
        tr {
            td {
                font-size: 11px;
                vertical-align: bottom;
            }
        }
    }
}
main {
    width: 80%;
    padding: 0 10%;
    table {
        width: 100%;
        border-collapse: collapse;
        border: none;
        page-break-inside: initial;
        tr {
            td {
                font-size: 14px;
                padding: 8px 4px;
                img {
                    width: 100%;
                    text-align: center;
                }
                
            }
        }
    }
}
.ppe {
    height: max-content;
    margin: 0 10px;
    margin-bottom: 100px;
    width: 125px;
    float: left;
    img {
        width: 125px;
    }
    p {
        background-color: #F6A21E;
        text-align: center;
        padding: 8px 4px;
        width: 125px;
        margin: 0;
    }  
}
table.operativesTable {
    margin-bottom: 4%;
    tr {
        td {
            border: 1px solid black;
            padding: 0;
            ul {
                list-style-type: none;
                li {
                    padding: 10px 0;
                }
            }  
        }
    }
}
.pageBreak {
    page-break-after: always;
}
.methodTable {
    margin-top: 4%;
    margin-bottom: 4%;
    page-break-inside: avoid;
    tr {
        th {
            background-color: #F6A21E;
            text-align: left;
            border: solid #F6A21E;
            border-width: 1px 1px 0 1px;
            padding: 8px 4px;
        }
        td {
            border: 1px solid black;
            img {
                width: 100%;
            }
            ul {
                margin: 0;
                padding-left: 18px;
            }
        }
    }
}
.hazards {
    .hazardsDisplay {
        width: 100%;
        table-layout: fixed;
        tr {
            th, td {
                border: 1px solid black;
                text-align: center;
                word-wrap: break-word;
            }
        }
    }
}
.hazardRatings {
    margin-bottom: 4%;
    h2 {
        margin:0;
    }
    table {
        text-align: left;
        vertical-align: top;
        tr {
            td {
                ul {
                    list-style-type: none;
                    padding: 0;
                    text-align: left;
                } 
            }
        } 
        
        table {
            font-size: 12px;
            tr {
                td {
                    padding: 0;
                }
            }
        }
    }
}

.frontPage {
    display: flex;
    justify-content: center;
    text-align: center;
    img {
        margin-top: 5%;
    }
    div {
        margin-top: 10%;
    }
    table {
        width: 80%;
        margin-left: 10%;
        border-collapse: collapse;
        text-align: center;
        margin-top: 10%;
    }
}
.register {
    page-break-inside: auto;
    tr {
        th, td {
            border: 1px solid black;
        }
        td {
            height: 25px;
        }
    }
}
.dailyRA {
    table {
        margin-top: 0;
        page-break-inside: auto;
    }
}
