h1, h2, h3, h4, label, button, input[type=submit], th {
  font-family: "Lato", sans-serif;
}

h1, button, label, input[type=submit] {
  font-weight: bold;
}

p, a, li, input, textarea, td, select {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

label {
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: none;
}

button {
  font-size: 17px;
  background-color: #F6A21E;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #D88809;
}

button.inverse {
  background-color: #29292A;
  width: 100%;
  color: white;
}
button.inverse a {
  font-weight: normal;
}

body {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table tr th {
  background-color: #29292A;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
}
table tr td {
  border-bottom: 2px solid #F6A21E;
  padding: 10px;
}
table tr td i {
  margin-left: 5px;
}
table .title {
  background-color: #F6A21E;
  color: black;
}
table tr th button {
  padding: 0 6px;
  float: right;
  font-size: 15px;
}
table tr th button i {
  margin: 6px;
}

form {
  width: 100%;
}
form input, form textarea {
  width: 97.5%;
  margin-bottom: 5px;
}
form select {
  width: 100%;
  margin-bottom: 5px;
}
form input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
}
form input[type=submit] {
  width: 40%;
  float: right;
  background-color: #F6A21E;
  padding: 8px 4px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
form input[type=submit]:hover {
  background-color: #D88809;
  text-decoration: underline;
  cursor: pointer;
}
form input[type=submit].inverse {
  background-color: #29292A;
  color: white;
}
form input[type=submit].inverse:hover {
  background-color: #424244;
}

form.fullPage input[type=text], form.fullPage textarea, form.fullPage select, form.fullPage input[type=date] {
  width: 99.5%;
  margin-bottom: 15px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
}
form.fullPage textarea {
  height: 125px;
}
form.fullPage textarea#description {
  height: 230px;
}
form.fullPage select {
  width: 100%;
}
form.fullPage input[type=submit] {
  margin-bottom: 20px;
}
form.fullPage .sequence {
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
form.fullPage .sequence input {
  width: 100%;
}
form.fullPage .sequence .add {
  background-color: #F6A21E;
  width: -moz-min-content;
  width: min-content;
  padding: 10px;
  border-radius: 18px;
  position: absolute;
  bottom: -7px;
  left: 99%;
  z-index: 1;
}
form.fullPage span.select2 {
  width: 100% !important;
  margin-bottom: 10px;
}
form.fullPage span {
  border-radius: 0;
  background-color: #D9D9D9;
  color: black;
  border: none !important;
  font-family: poppins;
}

.back {
  margin-top: 20px;
}
.back i {
  margin-right: 5px;
}

.error {
  background-color: #F6361E;
  padding: 10px;
}
.error ul {
  padding: 0;
  margin: 0;
}
.error ul li {
  list-style-type: none;
}

.success {
  background-color: #08bf1c;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.success ul {
  margin: 0;
  padding: 0;
}
.success ul li {
  list-style-type: none;
}

.card {
  background-color: #29292A;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.card h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.card p {
  margin: 0;
  margin-top: 8px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #29292A;
}

::-webkit-scrollbar-thumb {
  background-color: #F6A21E;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #D88809;
}

body {
  background-color: #29292A;
  color: white;
}

section {
  width: 50%;
  margin: auto;
}
section img {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}
section .error {
  background-color: #F6361E;
  padding: 1px 15px;
  margin-bottom: 20px;
}
section form label, section form input[type=submit] {
  font-size: 1em;
}
section form input {
  width: 98.5%;
  margin-bottom: 10px;
  padding: 4px;
}
section form input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
}
section form input[type=submit] {
  background-color: #F6A21E;
  border: none;
  width: 40%;
  float: right;
  padding: 8px 0;
}
section form input[type=submit]:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #D88809;
}
